<section class="top">
  <mat-card class="user-card">
    <button
      pButton
      pRipple
      class="p-button-text p-button-danger p-button-rounded delete-button"
      icon="pi pi-trash"
      (click)="onConfirmDelete()"
    ></button>
    <div class="image-container">
      <p-image
        [src]="
          'https://avatars.dicebear.com/api/micah/' +
          user.img +
          '.svg' +
          user.img_query
        "
        alt="avatar"
      ></p-image>
    </div>
    <div class="info">
      <div>
        <h2 [style]="{ 'text-align': 'left' }">User</h2>
        <p class="info-content">
          <span class="info-bold">Name:</span> {{ user.username }}
        </p>
        <p class="info-content">
          <span class="info-bold">Email:</span> {{ user.email }}
        </p>
        <p class="info-content">
          <span class="info-bold">ID:</span> {{ user._id }}
        </p>
      </div>
      <div class="buttons">
        <button
          pButton
          pRipple
          type="button"
          label="Edit avatar"
          class="p-button-raised p-button-secondary"
          (click)="openDialogCharacter()"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          label="Edit account"
          class="p-button-raised"
          (click)="openDialogUpdateAccount()"
        ></button>
      </div>
    </div>
  </mat-card>
  <mat-card class="card">
    <h2>Settings</h2>
    <div class="switch">
      <p-inputSwitch
        [(ngModel)]="user.marketing"
        (click)="onToggleMarketingMails()"
      ></p-inputSwitch>
      <span class="switch-text"> Marketing mails</span>
    </div>
  </mat-card>
  <mat-card class="card">
    <h2>Workspaces</h2>
    <loading-spinner
      class="spinner"
      *ngIf="loading_workspaces"
    ></loading-spinner>
    <p
      class="under-text"
      *ngIf="!loading_workspaces && workspaces.length === 0"
    >
      No workspaces joined or created
    </p>
    <div
      class="workspace-flex"
      *ngIf="!loading_workspaces && workspaces.length > 0"
    >
      <div class="workspace" *ngFor="let workspace of workspaces | slice: 0:4">
        <div class="team">
          <p-avatar
            [label]="workspace.workspace.charAt(0).toUpperCase()"
            styleClass="p-mr-2"
            size="medium"
            class="team-avatar"
          ></p-avatar>
          <h3 class="team-title">
            {{
              workspace.workspace.charAt(0).toUpperCase() +
                workspace.workspace.slice(1)
            }}
          </h3>
        </div>
      </div>
      <div class="team" *ngIf="workspaces.length > 4">
        <p-avatar
          [label]="'' + (workspaces.length - 4)"
          styleClass="p-mr-2"
          size="medium"
          class="team-avatar"
        ></p-avatar>
        <h3 class="team-title">More workspaces</h3>
      </div>
    </div>
  </mat-card>
</section>

<section class="bottom">
  <div class="flex-bottom">
    <mat-card class="card">
      <h2>Different dashboards</h2>
      <p class="number" *ngIf="!loading_dashboards">{{ dashboards.length }}</p>
      <loading-spinner
        class="spinner"
        *ngIf="loading_dashboards"
      ></loading-spinner>
    </mat-card>

    <mat-card class="card">
      <h2>Cards created</h2>
      <p class="number" *ngIf="!loading_cards_created">
        {{ created_cards.length }}
      </p>
      <loading-spinner
        class="spinner"
        *ngIf="loading_cards_created"
      ></loading-spinner>
    </mat-card>

    <mat-card class="card">
      <h2>Cards assigned</h2>
      <p class="number" *ngIf="!loading_cards_assigned">
        {{ assigned_cards.length }}
      </p>
      <loading-spinner
        class="spinner"
        *ngIf="loading_cards_assigned"
      ></loading-spinner>
    </mat-card>
    <mat-card class="card">
      <img
        src="../../../assets/images/account.svg"
        alt="self growth"
        class="img"
      />
    </mat-card>
  </div>
</section>

<app-footer></app-footer>

<p-toast></p-toast>
