<div class="container">
  <div class="img-container">
    <p-image
      [src]="
        'https://avatars.dicebear.com/api/micah/' + img + '.svg' + img_query
      "
      alt="avatar"
    ></p-image>
    <button
      pTooltip="Randomize"
      pButton
      pRipple
      (click)="randomize()"
      icon="pi pi-refresh"
      type="button"
      class="p-button-raised p-button-rounded random-btn"
    ></button>
  </div>
  <div class="buttons">
    <div class="button-group-top">
      <mat-card class="top-card" (click)="changeCharacter('baseColor')"
        >Skin</mat-card
      >
      <mat-card class="top-card" (click)="changeCharacter('nose')"
        >Nose</mat-card
      >
      <mat-card class="top-card" (click)="changeCharacter('mouth')"
        >Mouth</mat-card
      >
      <mat-card class="top-card" (click)="changeCharacter('ears')"
        >Ears</mat-card
      >
      <mat-card class="top-card" (click)="changeCharacter('eyes')"
        >Eyes</mat-card
      >
    </div>

    <div class="button-group">
      <mat-card class="button-group-item" (click)="changeCharacter('hair')"
        >Hair</mat-card
      >
      <mat-card
        class="button-group-item"
        (click)="changeCharacter('hairColor')"
      >
        <mat-icon class="material-icons-outlined icon-card"> palette</mat-icon>
      </mat-card>
    </div>
    <div class="button-group">
      <mat-card class="button-group-item" (click)="changeCharacter('eyebrows')"
        >Eyebrows</mat-card
      >
      <mat-card
        class="button-group-item"
        (click)="changeCharacter('eyebrowColor')"
      >
        <mat-icon class="material-icons-outlined icon-card"> palette</mat-icon>
      </mat-card>
    </div>
    <div class="button-group">
      <mat-card class="button-group-item" (click)="changeCharacter('shirt')"
        >Shirt</mat-card
      >
      <mat-card
        class="button-group-item"
        (click)="changeCharacter('shirtColor')"
      >
        <mat-icon class="material-icons-outlined icon-card"> palette</mat-icon>
      </mat-card>
    </div>
    <div class="button-group">
      <mat-card class="button-group-item" (click)="changeCharacter('earrings')"
        >Earring</mat-card
      >

      <mat-card
        class="button-group-item"
        (click)="changeCharacter('earringColor')"
      >
        <mat-icon class="material-icons-outlined icon-card"> palette</mat-icon>
      </mat-card>
      <mat-card
        class="button-group-item"
        (click)="deleteCharacterTrade('earrings', 'earringsProbability')"
        ><mat-icon class="material-icons-outlined icon-card red-icon">
          delete</mat-icon
        ></mat-card
      >
    </div>
    <div class="button-group">
      <mat-card class="button-group-item" (click)="changeCharacter('glasses')"
        >Glasses</mat-card
      >

      <mat-card
        class="button-group-item"
        (click)="changeCharacter('glassesColor')"
      >
        <mat-icon class="material-icons-outlined icon-card"> palette</mat-icon>
      </mat-card>
      <mat-card
        class="button-group-item"
        (click)="deleteCharacterTrade('glasses', 'glassesProbability')"
        ><mat-icon class="material-icons-outlined icon-card red-icon">
          delete</mat-icon
        ></mat-card
      >
    </div>
    <div class="bottom-btn">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-save"
        label="Save"
        class="p-button-raised save-btn bottom-btn-item"
        (click)="saveAvatar()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Go back"
        class="p-button-raised p-button-text p-button-secondary bottom-btn-item"
        (click)="goBack()"
      ></button>
    </div>
  </div>
</div>
