<button
  type="button"
  pButton
  pRipple
  icon="pi pi-users"
  class="p-button-raised add-btn"
  label="Create a new workspace"
  (click)="onSetFormNewWorkspace(); new_workspace.toggle($event)"
  *ngIf="workspaces.length > 0"
></button>
<mat-card class="first" *ngIf="workspaces.length < 1">
  <h2>Create your first workspace</h2>
  <p>
    A workspace is required to create a board and start planning. Workspaces are
    ideal for teams or just by yourself it doesn't matter. Workspaces can have
    multiple planning boards so that you can plan everything you ever wanted.
  </p>
  <div class="btn-bottom-right">
    <button
      type="button"
      pButton
      pRipple
      icon="pi pi-users"
      class="p-button-raised"
      label="Create a new workspace"
      (click)="onSetFormNewWorkspace(); new_workspace.toggle($event)"
    ></button>
  </div>
</mat-card>
<div class="workspace" *ngFor="let workspace of workspaces">
  <div class="workspace-flex">
    <div class="team">
      <avatar
        [title]="workspace.workspace.charAt(0).toUpperCase()"
        [bg_color]="workspace.bg_color"
        [color]="workspace.color"
      ></avatar>
      <h3
        class="team-title"
        (click)="
          selected_workspace = workspace; onSetForm(); opw.toggle($event)
        "
      >
        {{
          workspace.workspace.charAt(0).toUpperCase() +
            workspace.workspace.slice(1)
        }}
        <i
          class="pi pi-pencil"
          style="font-size: 0.75rem"
          pTooltip="Edit workspace title and color"
          [showDelay]="500"
        ></i>
      </h3>
      <p-overlayPanel #opw>
        <ng-template pTemplate>
          <form
            (submit)="onSaveWorkspaceTitle(workspaceForm)"
            [formGroup]="workspaceForm"
          >
            <h2 class="create-form-title">Workspace title</h2>
            <input
              type="text"
              pInputText
              formControlName="title"
              placeholder="Workspace title"
              maxlength="20"
              autofocus
              autocomplete="off"
            />
            <div class="inline-title">
              <h2 class="create-form-title">Color</h2>
              <p-colorPicker formControlName="color"></p-colorPicker>
            </div>
            <div class="buttons">
              <button
                pButton
                pRipple
                icon="pi pi-save"
                label="Save"
                type="submit"
                class="p-button-raised"
                [disabled]="
                  $any(workspaceForm).controls['title'].value === undefined
                    ? true
                    : $any(workspaceForm).controls['title'].value?.length < 4
                    ? true
                    : $any(workspaceForm).controls['title'].value.length > 20
                    ? true
                    : false
                "
                (click)="opw.hide()"
              ></button>
              <button
                pButton
                pRipple
                label="Cancel"
                type="button"
                class="p-button-raised p-button-text p-button-secondary"
                (click)="opw.hide()"
              ></button>
            </div>
          </form>
        </ng-template>
      </p-overlayPanel>
    </div>
    <div class="toolbar">
      <div
        class="card"
        (click)="router.navigateByUrl('team/' + workspace.workspace_id)"
      >
        <i class="pi pi-users icon"></i>
        Members ({{ workspace.team.length }})
      </div>
      <div
        class="card"
        (click)="router.navigateByUrl('workspace/' + workspace.workspace_id)"
      >
        <i class="pi pi-table icon"></i>
        Boards ({{ workspace.dashboards?.length }})
      </div>
      <div
        class="card"
        (click)="selected_workspace = workspace; menu.toggle($event)"
        pRipple
      >
        <i class="pi pi-cog icon"></i>
        Settings
      </div>
    </div>
    <div class="line light-grey-bg"></div>
  </div>
  <div class="dashboard-container">
    <div class="dashboards">
      <div
        class="dashboard"
        *ngFor="
          let dashboard of onFilterDashboardMember(workspace.dashboards)
            | slice: 0:6
        "
        (click)="navigateToDashboard(dashboard.board_id)"
        [ngStyle]="{
          'background-color': dashboard.bg_color,
          color: dashboard.color
        }"
      >
        <h2 class="create-form-title">
          {{
            dashboard.title.charAt(0).toUpperCase() + dashboard.title.slice(1)
          }}
        </h2>
      </div>
      <div
        class="dashboard create-dashboard"
        *ngIf="workspace.dashboards.length === 0"
        (click)="router.navigateByUrl('workspace/' + workspace.workspace_id)"
      >
        <h2 class="create-form-title">No joinable dashboards</h2>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>

<p-overlayPanel #new_workspace>
  <ng-template pTemplate>
    <form
      (submit)="onAddWorkspace(newWorkspaceForm); new_workspace.hide()"
      [formGroup]="newWorkspaceForm"
    >
      <h2 class="create-form-title">Workspace title</h2>
      <input
        type="text"
        pInputText
        formControlName="title"
        placeholder="krakky"
        maxlength="20"
        autocomplete="off"
        autofocus
      />
      <p
        class="error"
        *ngIf="
          newWorkspaceForm.get('title')!.errors &&
          newWorkspaceForm.get('title')!.value.length > 0
        "
      >
        workspace title must be between 4 and 20 characters long
      </p>
      <div class="inline-title">
        <h2 class="create-form-title">Color</h2>
        <p-colorPicker formControlName="color"></p-colorPicker>
      </div>
      <div class="buttons">
        <button
          [disabled]="
            $any(newWorkspaceForm).controls['title'].value === undefined
              ? true
              : $any(newWorkspaceForm).controls['title'].value?.length < 4
              ? true
              : $any(newWorkspaceForm).controls['title'].value.length > 20
              ? true
              : false
          "
          pButton
          pRipple
          label="Create workspace"
          type="submit"
          class="p-button-raised"
        ></button>
        <button
          pButton
          pRipple
          label="Cancel"
          type="button"
          class="p-button-raised p-button-text p-button-secondary"
          (click)="new_workspace.hide()"
        ></button>
      </div>
    </form>
  </ng-template>
</p-overlayPanel>

<p-menu #menu [popup]="true" [model]="items"></p-menu>
