<div *ngIf="!is_loading">
  <i class="pi pi-key icon"></i>
  <div *ngIf="!api_key">
    <p>You don't have a api key yet</p>
    <button
      pButton
      pRipple
      label="Generate api key"
      [disabled]="api_key"
      (click)="onCreateApiKey()"
    ></button>
  </div>
  <div *ngIf="api_key">
    <div class="api-key">
      {{ api_key }}
    </div>
    <button
      pButton
      pRipple
      icon="pi pi-copy"
      label="Copy api key"
      [cdkCopyToClipboard]="api_key"
      (click)="showSnackbar('success', 'Api key copied to clipboard')"
    ></button>
  </div>
</div>
<loading-spinner *ngIf="is_loading"></loading-spinner>
<p-toast></p-toast>
