.flex-content {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  padding: 1rem;
  max-height: 55rem;
  overflow: auto;
}

h2 {
  margin: 0;
  padding: 0;
  max-width: 40rem;
}

.right {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.25rem;
}

.left {
  flex-grow: 1;
}

.right {
  width: 10rem;
}

.avatar-img {
  background: rgb(236, 235, 255);
  border-radius: 50%;
  margin-right: 0.3rem;
}

.avatar-plus-img {
  border-radius: 50%;
  margin-right: 0.3rem;
  z-index: 1;
}

.avatar-plus-img:hover {
  cursor: pointer;
}

.avatar-group {
  max-width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.avatars {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5rem;
  max-width: 15rem;
}

.team-member {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  transition: 0.5s;
}

.team-member:hover {
  border-radius: 5px;
  cursor: pointer;
  background: rgb(236, 235, 255);
}

.color {
  width: 4rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 5px 0px rgba(90, 90, 90, 0.44);
}

.color:hover {
  cursor: pointer;
}

.container-colors {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-width: 15rem;
}

.see-trough-btn {
  background-color: rgba(250, 250, 250, 0.75) !important;
}

.card-description {
  max-width: 36rem;
  min-height: 4.5rem;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.text-area {
  max-width: 36rem;
  width: 100%;
}

.card-description:hover {
  cursor: pointer;
}

.description-buttons {
  margin-top: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.priority-btn {
  max-width: 7rem;
  width: 100%;
}

.priority-buttons {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  justify-content: center;
}

.badges {
  float: right;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.date-inputs {
  display: flex;
  flex-flow: column wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.checkbox {
  margin-top: 0.5rem;
  max-width: 240px;
}

.reminder {
  font-size: 1.5rem;
  font-weight: 500;
}

.check {
  position: relative;
  top: 5px;
}

.icon:hover {
  cursor: pointer;
}

.dates-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.dates-flex {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.date-label {
  font-weight: 500;
}

.overdue {
  background-color: rgb(255, 255, 143);
}

.add-comment {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.comments {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  max-height: 15rem;
  overflow: auto;
  max-width: 38rem;
  padding: 0.25rem 0 0.5rem 0;
  position: relative;
  right: 0.25rem;
}

.comment {
  max-width: 36rem;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-content: flex-start;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.comment-avatar {
  position: absolute;
  top: 0.75rem;
}

.comment-avatar-flipped {
  position: absolute;
  top: 0.75rem;
  transform: scaleX(-1);
}

.comment-avatar-container {
  min-width: 2rem;
  width: 2rem;
}

.comment-content {
  max-width: 31rem;
  flex-grow: 1;
}

.actions {
  position: absolute;
  top: 0.25rem;
  right: -0.5rem;
  padding: 0.15rem 0.25rem;
  border-radius: 5px;
  background-color: rgba(206, 221, 253, 0.5);
  border: 1px solid rgba(255, 255, 255);
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.comment:hover {
  cursor: pointer;
}

.edit-comment-buttons {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.comments-title {
  margin: 0.5rem 0 0 0;
}

.description-title {
  margin-bottom: 0.5rem;
}

.op-title {
  margin: 0;
  padding: 0 0 0.5rem 0;
}

.op-title-dates {
  margin: 0;
  padding: 0;
}

.tag-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.inline-title {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: flex-end;
}

.tags {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}

.tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
}

.badges {
  float: right;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.delete-tag {
  margin-left: 0.25rem;
  position: relative;
  top: 2px;
}

.delete-tag:hover {
  cursor: pointer;
}

.tag-list {
  max-width: 300px;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.small-title {
  font-size: 10px;
  color: rgb(100, 100, 100);
}
