.flex-top {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-container {
  max-width: 30rem;
  width: 100%;
}

.slogan {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.slogan-first {
  text-align: right;
}

.slogan-box {
  margin: auto;
}

.flex-container {
  display: flex;
  gap: 3rem;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  font-family: "Open Sans", sans-serif;

  .child {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    width: 100%;
    max-width: 250px;
  }
}

.why {
  background-color: rgb(241, 241, 241);
  color: #333;
  border-radius: 15px;
  max-width: 75rem;
  width: 100%;
  display: block;
  margin: 2rem auto;
  padding: 0.5rem;
}

.title {
  text-align: center;
  font-weight: 700;
}

.why-btn {
  display: block;
  margin: 0 auto 0.5rem auto;
}

.information-title {
  text-align: center;
  font-size: 2rem;
}

.information-dashboard-text {
  max-width: 41rem;
  text-align: center;
  display: block;
  margin: auto;
}

.information-dashboard-img {
  max-width: 70rem;
  display: block;
  margin: 1rem auto;
}

.flex-information {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  padding: 0.5rem;
}

.flex-information-title {
  font-size: 2rem;
}

.rounded-edges {
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.flex-information-img {
  max-width: 30rem;
}

.flex-information-text {
  max-width: 32rem;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  align-self: center;
}

.flex-information-text > * {
  flex-grow: 1;
}

.icon {
  margin: 0 0.5rem 0 0.5rem;
  position: relative;
  top: 0.2rem;
}

@media (max-width: 1100px) {
  .flex-information {
    gap: 0.5rem;
  }
}

@media (max-width: 950px) {
  .flex-top {
    gap: 0rem;
  }
}

@media (max-width: 450px) {
  .slogan {
    font-size: 1.5rem;
  }
}

@media (max-width: 350px) {
  .slogan {
    font-size: 1rem;
  }
}
