<section class="flex-top">
  <div class="img-container">
    <img src="../../../assets/images/kaban.svg" alt="kaban board" />
  </div>
  <div class="slogan">
    <div class="slogan-box">
      <div class="slogan-first">the handiest</div>
      <div>way to organize</div>
      <div>team work</div>
    </div>
  </div>
</section>

<section class="why">
  <h1 class="title">Why use a Kanban board?</h1>
  <div class="flex-container">
    <div class="child">
      <i class="pi pi-check accent"></i>
      <h3>Plot out workflows</h3>
      <p>Create a clear process and make sure tasks move through each stage.</p>
    </div>
    <div class="child">
      <i class="pi pi-fast-forward accent"></i>
      <h3>Easily spot bottlenecks</h3>
      <p>Then optimize your workflow to help your team work faster.</p>
    </div>
    <div class="child">
      <i class="pi pi-eye accent"></i>
      <h3>Know where work stands</h3>
      <p>
        Visual cues help team members know if a task is ready to do or already
        done.
      </p>
    </div>
  </div>
  <button
    pButton
    pRipple
    type="button"
    label="Create a online board"
    class="why-btn"
  ></button>
</section>
