<div class="container">
  <div class="img-container">
    <img src="../../../assets/images/shield.svg" alt="reset password image" />
  </div>

  <div class="text">
    <h2 class="title-margin">Reset password</h2>
    <p class="under-text">
      To reset your password fill the form and press the reset password button.
      If you don't want to reset your password you can just go back.
    </p>
    <form
      [formGroup]="resetForm"
      class="inputs"
      (submit)="onResetPassword(resetForm)"
    >
      <input
        type="email"
        pInputText
        placeholder="Email address"
        required
        formControlName="email"
      />
      <span
        class="error"
        *ngIf="
          resetForm.get('email')!.errors &&
          resetForm.get('email')!.value.length > 0
        "
      >
        enter a valid email address</span
      >
      <span class="p-inputgroup">
        <input
          type="text"
          pInputText
          placeholder="Password"
          [type]="inputType"
          formControlName="password"
          autocomplete="off"
        />
        <button
          type="button"
          pButton
          pRipple
          [icon]="inputIcon"
          (click)="changeInputType()"
        ></button>
      </span>
      <span
        class="error"
        *ngIf="
          resetForm.get('password')!.errors &&
          resetForm.get('password')!.value.length > 0
        "
        >password must be between 6 and 20 characters long and contain one
        number</span
      >
    </form>
    <div class="buttons">
      <button
        label="Reset password"
        pRipple
        pButton
        class="p-button-raised p-button-primary"
        (click)="onResetPassword(resetForm)"
      ></button>
      <button
        label="Cancel"
        pRipple
        pButton
        class="p-button-text p-button-secondary"
        (click)="onGoBack()"
      ></button>
    </div>
  </div>
</div>

<p-toast></p-toast>
