<form (submit)="onAddWorkspace(workspaceForm)" [formGroup]="workspaceForm">
  <div class="img-container">
    <img src="../../../assets/images/kaban.svg" alt="planning image" />
  </div>
  <div>
    <p class="title">Let's create a new workspace</p>
    <p class="under-text">And start planning directly.</p>
    <input
      type="text"
      pInputText
      formControlName="title"
      placeholder="Workspace title"
      maxlength="20"
      autocomplete="off"
    />
    <p
      class="error"
      *ngIf="
        workspaceForm.get('title')!.errors &&
        workspaceForm.get('title')!.value.length > 0
      "
    >
      workspace title must be between 4 and 20 characters long
    </p>
    <div class="buttons">
      <button
        [disabled]="
          $any(workspaceForm).controls['title'].value === undefined
            ? true
            : $any(workspaceForm).controls['title'].value?.length < 4
            ? true
            : $any(workspaceForm).controls['title'].value.length > 20
            ? true
            : false
        "
        pButton
        pRipple
        label="Create workspace"
        type="submit"
        class="p-button-raised"
      ></button>
      <button
        pButton
        pRipple
        label="Go back"
        type="button"
        class="p-button-raised p-button-text p-button-secondary"
        (click)="onGoBack()"
      ></button>
    </div>
  </div>
</form>
<p-toast></p-toast>
