<div class="flex">
  <div class="img-container">
    <img src="../../../assets/images/login.svg" alt="login image" />
  </div>
  <div class="inputs">
    <p class="title" *ngIf="!forgotPassword">Let's log you in</p>
    <p class="title" *ngIf="forgotPassword">Let's reset your password</p>
    <p class="under-text" *ngIf="!forgotPassword">You've been missed</p>
    <p class="under-text" *ngIf="forgotPassword">We are missing you</p>
    <form
      (submit)="onLogin(loginForm)"
      [formGroup]="loginForm"
      *ngIf="!forgotPassword"
    >
      <input
        pInputText
        placeholder="Email address"
        formControlName="email"
        email
        type="email"
        name="email"
      />
      <span class="p-inputgroup">
        <input
          type="text"
          pInputText
          placeholder="Password"
          formControlName="password"
          [type]="inputType"
          autocomplete="off"
        />
        <button
          type="button"
          pButton
          pRipple
          [icon]="inputIcon"
          (click)="changeInputType()"
        ></button>
      </span>
      <div class="buttons">
        <button
          label="Log in"
          pRipple
          pButton
          type="submit"
          class="login-btn p-button-raised"
        ></button>
        <button
          icon="pi pi-google"
          pRipple
          pButton
          type="button"
          class="p-button-raised p-button-info p-button-text"
          pTooltip="Log in with Google"
          [showDelay]="500"
        ></button>
      </div>
    </form>
    <form
      (submit)="onChangeToResetPassword(resetForm)"
      [formGroup]="resetForm"
      *ngIf="forgotPassword"
      class="reset-form"
    >
      <input
        id="float-input"
        pInputText
        placeholder="Email address"
        formControlName="email"
        email
        type="email"
      />
      <button
        label="Reset Password"
        pRipple
        pButton
        type="submit"
        class="p-button-raised btn"
      ></button>
    </form>
    <div class="footer">
      <p class="footer-text" (click)="onRegister()">New user</p>
      <p
        class="footer-text"
        (click)="forgotPassword = true"
        *ngIf="!forgotPassword"
      >
        Forgot password
      </p>
      <p
        class="footer-text"
        (click)="forgotPassword = false"
        *ngIf="forgotPassword"
      >
        Log in
      </p>
    </div>
  </div>
</div>
<p-toast></p-toast>
