<button
  type="button"
  pButton
  pRipple
  icon="pi pi-table"
  class="p-button-raised add-btn"
  label="Create a new dashboard"
  (click)="op.toggle($event)"
></button>
<div class="workspace">
  <div class="workspace-flex">
    <div class="team">
      <avatar
        [title]="workspace.workspace.charAt(0).toUpperCase()"
        [bg_color]="workspace.bg_color"
        [color]="workspace.color"
      ></avatar>
      <h3 class="team-title" (click)="opw.toggle($event)">
        {{
          workspace.workspace.charAt(0).toUpperCase() +
            workspace.workspace.slice(1)
        }}
        <i
          class="pi pi-pencil"
          style="font-size: 0.75rem"
          pTooltip="Edit workspace title and color"
          [showDelay]="500"
        ></i>
      </h3>
    </div>
    <div class="toolbar">
      <div class="card" (click)="router.navigateByUrl('workspace')">
        <div class="card-content">
          <i class="pi pi-arrow-left icon"></i>
          Back to workspaces
        </div>
      </div>
      <div
        class="card"
        (click)="router.navigateByUrl('team/' + workspace.workspace_id)"
      >
        <i class="pi pi-users icon"></i>
        Members ({{ workspace.team.length }})
      </div>
      <div class="card" (click)="menuWorkspace.toggle($event)" pRipple>
        <mat-icon class="material-icons-outlined">settings</mat-icon>
        Settings
      </div>
      <p-menu #menuWorkspace [popup]="true" [model]="items_workspace"></p-menu>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
      <div class="spacer"></div>
    </div>
    <div class="line light-grey-bg"></div>
  </div>
  <div class="dashboard-container">
    <div class="dashboards">
      <div class="dashboard light-grey-bg" *ngFor="let dashboard of dashboards">
        <div
          class="dashboard-content"
          (click)="navigateToDashboard(dashboard.board_id)"
        >
          {{
            dashboard.title.charAt(0).toUpperCase() + dashboard.title.slice(1)
          }}
        </div>
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-ellipsis-v"
          pTooltip="Dashboard menu"
          [showDelay]="500"
          class="p-button-rounded p-button-text p-button-secondary"
          (click)="selected_dashboard = dashboard; menu.toggle($event)"
        ></button>
      </div>
      <div
        class="create-dashboard light-grey-bg"
        *ngIf="workspace.dashboards.length === 0"
        (click)="op.toggle($event)"
      >
        Create a dashboard
      </div>
    </div>
  </div>
</div>

<p-menu #menu [popup]="true" [model]="items"></p-menu>
<p-toast></p-toast>
<p-overlayPanel #op>
  <ng-template pTemplate>
    <form
      class="create-form"
      (submit)="onSaveDashboard(dashboardForm); op.hide()"
      #dashboardForm="ngForm"
    >
      <h2 class="create-form-title">Dashboard title</h2>
      <input
        type="text"
        pInputText
        ngModel
        required
        name="dashboard_name"
        #dashboard_name="ngModel"
        placeholder="Dashboard title"
        maxlength="20"
        autofocus
        autocomplete="off"
      />
      <h2 class="create-form-title">Settings</h2>
      <div class="option">
        <div class="option-content">
          <p-inputSwitch
            ngModel
            name="private"
            #private="ngModel"
          ></p-inputSwitch>
          <span class="option-text"> Private</span>
        </div>
        <i
          class="pi pi-question-circle"
          pTooltip="Only selected members have access to the board"
        ></i>
      </div>
      <div class="buttons">
        <button
          pButton
          pRipple
          type="submit"
          label="Create new dashboard"
          class="p-button-raised"
          [disabled]="
            dashboard_name.value === undefined
              ? true
              : dashboard_name.value?.length < 4
              ? true
              : dashboard_name.value.length > 20
              ? true
              : false
          "
        ></button>
        <button
          pButton
          pRipple
          type="button"
          label="Go back"
          class="p-button-raised p-button-text p-button-secondary"
          (click)="op.hide()"
        ></button>
      </div>
    </form>
  </ng-template>
</p-overlayPanel>
<p-overlayPanel #opw>
  <ng-template pTemplate>
    <form
      (submit)="onSaveWorkspaceTitle(updateWorkspaceForm)"
      [formGroup]="updateWorkspaceForm"
    >
      <div>
        <p-colorPicker formControlName="color"></p-colorPicker>
        <span class="label">Color picker</span>
      </div>

      <input
        type="text"
        pInputText
        formControlName="title"
        placeholder="Workspace title"
        maxlength="20"
        autofocus
        autocomplete="off"
      />
      <div class="buttons">
        <button
          pButton
          pRipple
          icon="pi pi-save"
          label="Save"
          type="submit"
          class="p-button-raised"
          [disabled]="
            $any(updateWorkspaceForm).controls['title'].value === undefined
              ? true
              : $any(updateWorkspaceForm).controls['title'].value?.length < 4
              ? true
              : $any(updateWorkspaceForm).controls['title'].value.length > 20
              ? true
              : false
          "
          (click)="opw.hide()"
        ></button>
        <button
          pButton
          pRipple
          label="Go back"
          type="button"
          class="p-button-raised p-button-text p-button-secondary"
          (click)="opw.hide()"
        ></button>
      </div>
    </form>
  </ng-template>
</p-overlayPanel>
