.team {
  display: flex;
  flex-flow: row no-wrap;
}

i:hover {
  cursor: pointer;
}

mat-icon {
  position: relative;
  top: 3px;
  font-size: 1rem;
}

.team-title {
  margin-left: 1rem;
  font-weight: 600;
  margin: 0.5rem;
}

.create-dashboard {
  background-color: #ffffff;
}

.icon {
  position: relative;
  top: 2px;
  margin-right: 0.5rem;
}

.card {
  background-color: #e0f1ff;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}

.card:hover {
  background-color: #d0eaff;
  cursor: pointer;
}

.workspace-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.toolbar {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-end;
}

.dashboards {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.dashboard-container {
  max-width: 97.5%;
  display: block;
  margin: 0 auto;
}

.dashboard {
  width: 12.15rem;
  height: 6rem;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
}

.menu-btn-dashboard {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

.dashboard-content:hover {
  cursor: pointer;
}

.dashboard-content {
  max-width: 9rem;
  width: 100%;
  word-wrap: break-word;
  height: 100%;
}

.line {
  width: 100%;
  height: 2px;
}

loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-btn {
  margin-bottom: 1rem;
}

.create-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.create-form-title {
  margin: 0;
  padding: 0;
  display: inline;
}

.inline-title {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: flex-end;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
}

.buttons > * {
  flex-grow: 1;
}

.option {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.option-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.option-text {
  font-size: 1.25rem;
}

form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.label {
  margin-left: 1rem;
  font-weight: 600;
}

.error {
  color: #f44336;
  max-width: 15rem;
  font-size: 0.75rem;
}

@media (max-width: 650px) {
  .dashboards {
    flex-flow: column no-wrap;
    gap: 0.5rem;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .workspace-flex {
    flex-flow: column;
    gap: 0.5rem;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media (max-width: 500px) {
  .toolbar {
    flex-flow: column;
    justify-content: flex-start;
  }
}
