<loading-spinner class="loading" *ngIf="is_loading"></loading-spinner>

<div class="not-found" *ngIf="!is_loading && !found">
  <div class="not-found-container">
    <img src="./../../../assets/images/not_found.svg" alt="404" />
  </div>
  <div class="not-found">
    <p class="not-found-txt">Could't find selected dashboard</p>
    <button
      type="button"
      pButton
      pRipple
      class="p-button-raised"
      label="Go to workspaces"
      (click)="router.navigateByUrl('workspace')"
    ></button>
  </div>
</div>

<div class="container" *ngIf="!is_loading && found && dashboard">
  <div class="dashboard-title-flex">
    <div class="team">
      <p-avatar
        [label]="dashboard.title.charAt(0).toUpperCase()"
        styleClass="p-mr-2"
        size="medium"
        class="team-avatar"
      ></p-avatar>
      <h3 class="title" (click)="opTitle.toggle($event)">
        {{ dashboard.title.charAt(0).toUpperCase() + dashboard.title.slice(1) }}
        <i
          class="pi pi-pencil"
          style="font-size: 0.75rem"
          pTooltip="Edit dashboard title"
          [showDelay]="500"
        ></i>
      </h3>
    </div>
    <div class="toolbar">
      <div
        class="card"
        (click)="router.navigateByUrl('workspace/' + dashboard.workspace_id)"
      >
        <div class="card-content">
          <i class="pi pi-arrow-left icon"></i>
          Back to workspace
        </div>
      </div>
      <div class="card" (click)="onCheckUsers()">
        <i class="pi pi-users icon"></i>
        Members ({{ dashboard.team.length }})
      </div>
      <div
        class="card"
        pRipple
        (click)="
          router.navigateByUrl('dashboard/statistics/' + dashboard.board_id)
        "
      >
        <i class="pi pi-chart-line icon"></i>
        Statistics
      </div>
      <div class="card" pRipple (click)="dashboardSettings.toggle($event)">
        <mat-icon class="material-icons-outlined">settings</mat-icon>
        Settings
      </div>
    </div>
  </div>
  <div class="line light-grey-bg"></div>

  <div
    class="cdk-container-lists"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
  >
    <mat-card *ngFor="let list of dashboard.lists" class="cdk-list" cdkDrag>
      <div class="cdk-title">
        {{ list.title }}
        <i
          class="pi pi-pencil"
          style="font-size: 0.75rem"
          pTooltip="Edit dashboard title"
          [showDelay]="500"
          (click)="selected_list = list; opListTitle.toggle($event)"
        ></i>
        <button
          pButton
          pRipple
          class="p-icon-button p-button-text p-button-rounded menu-btn p-button-danger"
          icon="pi pi-trash"
          (click)="onDeleteList(list)"
        ></button>
      </div>
      <div
        class="cdk-container-content"
        cdkDropList
        (cdkDropListDropped)="dropCard($event)"
        id="{{ list._id }}"
        [cdkDropListConnectedTo]="connected_to"
        [cdkDropListData]="filteredCards(list._id)"
      >
        <mat-card
          class="cdk-list-card"
          *ngFor="let card of filteredCards(list._id)"
          id="{{ card._id }}"
          cdkDrag
          [class]="card.color"
          (click)="onUpdateCard(card)"
        >
          <div class="cdk-badge" [class]="card.priority">
            {{ card.priority }}
          </div>
          <p class="cdk-title-card">
            {{ card.title }}
            <i
              icon="pi pi-pencil"
              style="font-size: 0.75rem"
              pTooltip="Edit Card"
              [showDelay]="500"
            ></i>
          </p>
          <div class="cdk-bottom-card">
            <div>
              <span *ngIf="card.due_date" class="cdk-due-date">
                <i class="pi pi-clock" style="font-size: 0.75rem"></i>
                {{ onTransformDate(card.due_date) }}
              </span>
            </div>
            <div>
              <span
                *ngIf="card.assignees && card.assignees.length > 0"
                class="cdk-assigned"
              >
                <i class="pi pi-user" style="font-size: 0.75rem"></i>
                {{ card.assignees.length }}
              </span>
            </div>
          </div>
        </mat-card>
      </div>
      <button
        pButton
        pRipple
        class="p-button-text"
        icon="pi pi-plus"
        label="Add a card"
        (click)="opCardTitle.toggle($event); selected_list = list"
      ></button>
    </mat-card>
    <button
      pButton
      pRipple
      class="p-button-raised p-button-text cdk-add"
      icon="pi pi-plus"
      label="Add a list"
      (click)="opNewList.toggle($event)"
    ></button>
  </div>
</div>

<p-toast></p-toast>
<p-overlayPanel #opTitle>
  <ng-template pTemplate>
    <form
      (submit)="onSaveDashboardTitle(updateDashboardForm); opTitle.hide()"
      #updateDashboardForm="ngForm"
    >
      <div class="p-inputgroup">
        <input
          type="text"
          pInputText
          ngModel
          required
          name="dashboard_name"
          #dashboard_name="ngModel"
          placeholder="Dashboard title"
          maxlength="20"
          autofocus
          autocomplete="off"
        />
        <button
          pButton
          pRipple
          icon="pi pi-save"
          type="submit"
          class="p-button-raised"
          [disabled]="
            dashboard_name.value === undefined
              ? true
              : dashboard_name.value?.length < 4
              ? true
              : dashboard_name.value.length > 20
              ? true
              : false
          "
          pTooltip="Save new dashboard title"
          [showDelay]="500"
        ></button>
      </div>
    </form>
  </ng-template>
</p-overlayPanel>
<p-overlayPanel #opNewList>
  <ng-template pTemplate>
    <form
      (submit)="onAddList(addListForm); opNewList.hide()"
      #addListForm="ngForm"
    >
      <div class="p-inputgroup">
        <input
          type="text"
          pInputText
          ngModel
          required
          name="list_name"
          #list_name="ngModel"
          placeholder="List title"
          maxlength="20"
          autofocus
          autocomplete="off"
        />
        <button
          pButton
          pRipple
          icon="pi pi-save"
          type="submit"
          class="p-button-raised"
          [disabled]="
            list_name.value === undefined
              ? true
              : list_name.value?.length < 4
              ? true
              : list_name.value.length > 20
              ? true
              : false
          "
          pTooltip="Save new list"
          [showDelay]="500"
        ></button>
      </div>
    </form>
  </ng-template>
</p-overlayPanel>
<p-overlayPanel #opListTitle>
  <ng-template pTemplate>
    <form
      (submit)="onUpdateListTitle(updateListTitleForm); opListTitle.hide()"
      #updateListTitleForm="ngForm"
    >
      <div class="p-inputgroup">
        <input
          type="text"
          pInputText
          ngModel
          required
          name="list_name"
          #list_name="ngModel"
          placeholder="List title"
          maxlength="20"
          autofocus
          autocomplete="off"
        />
        <button
          pButton
          pRipple
          icon="pi pi-save"
          type="submit"
          class="p-button-raised"
          [disabled]="
            list_name.value === undefined
              ? true
              : list_name.value?.length < 4
              ? true
              : list_name.value.length > 20
              ? true
              : false
          "
          pTooltip="Update list title"
          [showDelay]="500"
        ></button>
      </div>
    </form>
  </ng-template>
</p-overlayPanel>
<p-overlayPanel #opCardTitle>
  <ng-template pTemplate>
    <form
      (submit)="onAddQuickCard(addCardForm); opCardTitle.hide()"
      #addCardForm="ngForm"
    >
      <div class="p-inputgroup">
        <input
          type="text"
          pInputText
          ngModel
          required
          name="card_name"
          #card_name="ngModel"
          placeholder="Card title"
          maxlength="100"
          autofocus
          autocomplete="off"
        />
        <button
          pButton
          pRipple
          icon="pi pi-save"
          type="submit"
          class="p-button-raised"
          [disabled]="
            card_name.value === undefined
              ? true
              : card_name.value?.length < 4
              ? true
              : card_name.value.length > 100
              ? true
              : false
          "
          pTooltip="Create card title"
          [showDelay]="500"
        ></button>
      </div>
    </form>
  </ng-template>
</p-overlayPanel>
<p-overlayPanel #dashboardSettings>
  <ng-template pTemplate>
    <div class="settings-container">
      <h2 class="settings-title">Settings</h2>
      <div class="option">
        <div class="option-content">
          <p-inputSwitch
            [(ngModel)]="private_checked"
            (click)="onToggleSetting('private')"
          ></p-inputSwitch>
          <span class="option-text"> Private</span>
        </div>
        <i
          class="pi pi-question-circle"
          pTooltip="Only selected members have access to the board"
          tooltipPosition="left"
        ></i>
      </div>
      <div class="option">
        <div class="option-content">
          <p-inputSwitch
            [(ngModel)]="inactive_checked"
            (click)="onToggleSetting('inactive')"
          ></p-inputSwitch>
          <span class="option-text"> Inactive</span>
        </div>
        <i
          class="pi pi-question-circle"
          pTooltip="The board can't be modified until turned off"
          tooltipPosition="left"
        ></i>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>
