<div class="container">
  <div class="flex">
    <div class="logo-container">
      <p class="brand">Krakky<span class="accent">.</span></p>
    </div>
    <div>
      <p class="title">Explore</p>
      <p
        class="text"
        routerLinkActive="underline"
        routerLink="/home"
        aria-hidden="false"
      >
        Home
      </p>
      <p
        class="text"
        routerLinkActive="underline"
        routerLink="/contact"
        aria-hidden="false"
      >
        Contact
      </p>
      <p
        class="text"
        routerLinkActive="underline"
        routerLink="/account"
        aria-hidden="false"
      >
        Account
      </p>
      <p
        class="text"
        routerLinkActive="underline"
        routerLink="/workspace"
        aria-hidden="false"
      >
        Workspaces
      </p>
      <p
        class="text"
        routerLinkActive="underline"
        routerLink="/docs"
        aria-hidden="false"
      >
        Documentation
      </p>
    </div>

    <div>
      <p class="title">Follow</p>
      <a href="#" target="_blank">Facebook</a>
      <br />
      <a href="#" target="_blank">Twitter</a>
      <br />
      <a href="#" target="_blank">Github</a>
      <br />
      <a href="#" target="_blank">LinkedIn</a>
      <br />
      <a href="#" target="_blank">Instagram</a>
    </div>

    <div>
      <p class="title">Contact</p>
      <a href="mailto:contact@krakky.com">Email</a>
    </div>

    <div>
      <p class="title">Legal</p>
      <p class="text" (click)="openDialogTerms()">Terms</p>
      <p class="text" (click)="openDialogPrivacy()">Privacy</p>
    </div>
  </div>
  <p class="copy">&copy; Krakky. All rights reserved.</p>
</div>
<div class="spacer"></div>
